div
  .form-group
    input.form-control(v-model='topicName' placeholder='topic name ...')
  table.table.table-hover
    tbody: tr(v-for='topic in topics_')
      router-link(tag='td' v-bind:to='{name: "topic-detail", params: {topic: topic}}')
        router-link(v-bind:to='{name: "topic-detail", params: {topic: topic}}') {{ topic }}
  