div
  .container-fluid
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li.active: router-link(v-bind:to='{name: "topic-detail-configs", params: {topic: topic}}') Configs
      li: router-link(v-bind:to='{name: "topic-detail-offsets", params: {topic: topic}}') Offsets
      //- li: a Partition Replicas
      li: a Topic Metrics
      li: a Partition Metrics
  <router-view></router-view>
