header
  h2 Kafka Admin
  input.navi-search(v-model='input' placeholder='search')
  //- pre {{ brokers }}
  //- pre {{ brokerDetailMetrics }}
  ul.navi-list
    navi-item(name='Broker Metrics' v-bind:children='brokerListMetrics')
    navi-item(name='Brokers' v-bind:children='brokerDetailMetrics')
    
