.card
  position: relative
  border: 1px solid #d1dbe5
  border-radius: 4px
  background-color: #fff
  overflow: hidden
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04)
  padding: 4px
  // padding-bottom: 34px

  .switch
    position: absolute
    right: 4px
    bottom: 4px
    height: 30px

  .row
    width: 80%

  .icon.max
    background-image: url('~assets/images/signal.png')
  .icon
    display: inline-block
    width: 20px
    height: 20px
    background-size: 100%